import(Biobase)
import(pheatmap)
import(qvalue)
import(fgsea)
import(mclust)
import(fastmatch)
import(limma)
import(Rcpp)
import(visNetwork)
import(entropy)
import(Mus.musculus)
import(Homo.sapiens)
import(ComplexHeatmap)
importFrom(circlize,colorRamp2)

export(
    Preprocess_counts,
    MicroDegs,
    RNAseqDegs_limma,
    RNAseqDegs_DESeq,
    GSEA_proc_R,
    GSEA_proc_RC,
    TF_GSEA,
    TF_Selection,
    Reselect_TFs,
    TF_Activity,
    allNet,
    TF_Filter,
    TF_Filter_addgene,
    Down_Streams,
    Down_Streams_nofiltering,
    toCPM,
    Activity_heatmap,
    plot_network
)

useDynLib(NetAct)
